<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}"/>

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}"/>

  <!-- encoding must be specified within the first 512 bytes
        www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

  <!-- meta element for compatibility mode needs to be before
        all elements except title & meta
        msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
  <!-- Chrome Frame is only invoked if meta element for
        compatibility mode is within the first 1K bytes
        code.google.com/p/chromium/issues/detail?id=23003 -->

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}"/>
  <meta name="author" content="{{ resource.meta.author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{ resource.meta.viewport }}"/>

  {% block favicons %}
  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ media_url('images/favicon.ico') }}"/>
  {% endblock favicons %}

  {% block css %}  
  <link rel="stylesheet" href="{{ media_url('bootstrap/css/bootstrap.css') }}"/>
  <link rel="stylesheet" href="{{ media_url('bootstrap/css/bootstrap-responsive.css') }}"/>
  <link rel="stylesheet" href="{{ media_url('css/flat-ui.css') }}"/>
  <link rel="stylesheet" href="{{ media_url('css/style.css') }}"/>
  {% endblock css %}

  {% block headjs %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->    
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">

  {% block content %}
  <div id="container" class="container">
    {% block header %}    
    <h1 class="logo">
      {{ blog_title }}
      <small><a href="/" title="Home" data-toggle="tooltip" id="home">Blog</a> of <a href="/about.html" id="about" data-toggle="tooltip" title="About me">{{ blogger_name }}</a></small>      
    </h1>        
    {% endblock %}

    {% block container %}
      <section class="content">
      {% block main %}
      {% endblock main %}
      </section>
    {% endblock container %}
  </div> <!--! end of #container -->

  <footer class="footer">
    <div class="container">
      <p>Built with Hyde and FlatUI</p>      
      <p><a href="/">Home</a>&nbsp;&nbsp;&nbsp;<a href="/about.html">About</a></p>      
    </div>
  </footer>
  {% endblock content%}
  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->

  {% block scripts %}
    <script src="//cdn.jsdelivr.net/jquery/1.8.3/jquery-1.8.3.min.js"></script>
    <script src="{{ media_url('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ media_url('js/jquery.ui.touch-punch.min.js') }}"></script>
    <!--<script src="{{ media_url('js/bootstrap.min.js') }}"></script>-->
    <script src="{{ media_url('js/bootstrap-select.js') }}"></script>
    <script src="{{ media_url('js/bootstrap-switch.js') }}"></script>
    <script src="{{ media_url('js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ media_url('js/flatui-checkbox.js') }}"></script>
    <script src="{{ media_url('js/flatui-radio.js') }}"></script>
    <script src="{{ media_url('js/jquery.tagsinput.js') }}"></script>
    <script src="{{ media_url('js/jquery.placeholder.js') }}"></script>
    <script src="{{ media_url('js/jquery.stacktable.js') }}"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="{{ media_url('js/application.js') }}"></script>
  {% endblock scripts %}

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>