{% extends "base.j2" %}

{% block main -%}

<article class="post">

<h1 class="title">
    <a href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
    </a>
</h1>
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

{% if resource.meta.tags %}
<div class="tagsinput">
{% for tag in resource.meta.tags %}
    <a class="tag" href="{{ content_url('blog/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
{% endfor %}
</div>
{% endif %}

<nav class="social">

  <div class="widget" id="twitter_share">
  <a href="http://twitter.com/share"
      class="twitter-share-button twitter-count-horizontal"
      data-count="vertical"
      data-via="ringce">Tweet</a>
      <script type="text/javascript"
          src="http://platform.twitter.com/widgets.js"></script>
  </div>
  <div class="widget" id="facebook_like">
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://webscepter.com&layout=box_count&show_faces=false&width=450&action=like&font=arial&colorscheme=light&height=65"
              scrolling="no"
              frameborder="0"
              style="border:none; overflow:hidden; width:450px; height:65px;"
              allowTransparency="true"></iframe>
  </div>
</nav>

</article>

<div class="pagination">
    <ul>
        <li class="previous{{' disabled' if not resource.prev_by_time }}">
            <a title="{{ resource.prev_by_time.meta.title }}"
                {% if resource.prev_by_time %}
                href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
                Previous
            </a>            
        </li>
        <li>
        </li>
        <li  class="next{{' disabled' if not resource.next_by_time }}">
            <a title="{{ resource.next_by_time.meta.title }}"
                {% if resource.next_by_time %}
                href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
                Next
            </a>            
        </li>
    </ul>
</div>

{%- endblock %}