{% extends "base.j2" %}

{% block main %}
<section class="archives">
<h1 class="tag title">Tagged: {{ tag.name }}</h1>
<ul class="posts clear">
{% for resource in walker() -%}
<li class="post clear">
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    <a href="{{ content_url(resource.url) }}">{{ resource.meta.title }}</a>

    {% if resource.meta.tags %}
    
    <div class="tagsinput">
    {% for tag in resource.meta.tags %}
        <a class="small tag" href="{{ content_url('blog/tags/'~tag~'.html') }}">
            {{ tag }}
        </a>
    {% endfor %}
    </div>
    {% endif %}
</li>
{%- endfor %}
</ul>
</section>
{% endblock %}
